.form-container {
    width: 20%;
    border: 1px solid black;
    background-color: aquamarine;
}

.warning {
    border: 1px solid red;
    background-color: rgb(182, 113, 126);
}

.form {
    margin-top: .3rem;
}


.btn {
    margin-left: 5rem;
}